*{
    padding:0px;
    margin:20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    background-image:url(Free-light-blue-stars-background-1.jpg) ;

}
h1{
    display:inline;
    border-radius:5px;
    background-color:rgb(0, 140, 255) ;
    
}

#form{
    border:2px solid rgb(0, 140, 255);
    border-radius: 10px;
    background-image:none;

}

#name,#email,#age,#select,#calendar{
    border:2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px rgb(0, 140, 255) ;
    background-image: none;
}

button{
    /* background-color: rgb(0, 140, 255) ; */
    border: 2px solid rgb(0, 132, 255);
    border-radius: 5px;
    height:40px;
    width:80px;
     box-shadow: inset 5px 5px 15px 10px rgb(0, 140, 255) ;
    
}

